@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
}

:root {
    font-size: 62.5%;
    --bg-jagged-ice: #C5E4E7;
    --bg-white: #FFF;
    --sherpa-blue: #00474B;
    --greyish-turquoise: #5E747D;
    --topaz: #26C2AE;
    --regent-grey: #7F9D9F;
    --black-squeeze:#F3F9FA;
    --beetle-green: #547878;
}   

body {
    font-size: 1.6rem;
    background: var(--bg-jagged-ice);
}

header {
    padding-top: 5rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;
}

main {
    background: var(--bg-white);
    padding: 3.2rem 2.4rem;
    border-radius: 2.5rem 2.5rem 0 0;

}

.info {
    div {
        margin-bottom: 3.2rem;
    }

    padding-inline: 0.8rem;

    strong {
        color: var(--greyish-turquoise);
    }

    .input-box  { 
        margin-top: 0.6rem;
        background-color: var(--black-squeeze);
        display: flex;
        align-items: center;
        padding: .6rem 1.8rem;
        border-radius: .5rem;
    
        input {
            border: none;
            background-color: transparent;
            text-align: right;
            width: 100%;
            font-size: 2.4rem;
            outline: none;
            font-weight: 700;
            color: var(--sherpa-blue);
        }
    
        input::placeholder {
            color: var(--sherpa-blue);
            opacity: 0.35;
        }
    
        &:has(input:focus) {
            outline: 2px solid var(--topaz);
        }

        .tip {
            div {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1.6rem;
            }
            
            button {
                font-size: 2.5rem;
                background-color: var(--sherpa-blue);
                color: var(--bg-white);
                font-weight: 700;
                border: none;
                padding-block: .6rem;
                border-radius: .5rem;
            }
    
            input {
                width: 100%;
                font-size: 2.4rem;
                text-align: center;
                border: none;
                background-color: var(--black-squeeze);
                border-radius: .5rem;
                padding-block: .6rem;
                font-weight: 700;
                color: var(--sherpa-blue);
                
                &::placeholder {
                    color: var(--beetle-green);
                }

                &:focus {
                    outline: 2px solid var(--topaz);
                }
            }
        }
    }
}
 